
<body>
    <div class="container">
        
        <h1>Autenticación de Salvador Sánchez y Nate Trevizo</h1>
        <form (ngSubmit)="onSubmit($event)">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="email">

            <div class="form-group">
                <label for="email">Password</label>
                <input type="password" class="form-control" id="password" name="empasswordail" placeholder="password">
            </div>

            <button type="submit" class="btn btn-success">Login</button>

        </form>
    </div>
</body>